body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    position: relative;
}

h1 {
    font-size: 2em;
    margin: 0;
}

.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
}

.menu-content {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50px;
    left: 0;
    z-index: 1;
    width: 200px;
}

.menu-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #007bff;
}

.menu-content a:hover {
    background-color: #e9ecef;
}

.hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

img {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}

input[type="file"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    font-size: 1em;
}

button {
    padding: 10px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#download-link {
    display: none;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

#download-link:hover {
    text-decoration: underline;
}

.discord-link {
    margin-top: 20px;
}

.discord-link img {
    width: 40px;
    cursor: pointer;
                }
